.myInput{
    /* position: fixed !important; */
    max-width: 50%;
    margin-top: 4em;
    margin-left: 5em;
    border: white; /* Add a grey border */
    /* margin-bottom: 12px; */
  }


#nominates {
  margin-left:20rem
}

#tables-id {
  margin-top: 4em;
}



.homepage-button{
  font-family: 'Oswald', sans-serif;
  position: fixed !important;
  margin-top: 21%;
  margin-left: 40%;
  background-color: transparent;
  /* border: transparent; */
  font-size: 30px;
  color:white;
}

.homepage-carousel {
  position: fixed !important;
  max-height:400px;
  max-width:250px;
  border-color: yellow ;
  margin-top: 8%;
  margin-left:25%
}
.carousel-img {
  max-height:400px;
  max-width:250px;
}

#img-homepage {
  position: fixed !important;
  /* height: 100%; */
  /* bottom:50px; */
  width: 100%;
  /* max-width: 1500px; */
  height: 100%;
}

.movie-poster {
  position: fixed !important;
  left: 65%;
  top:20%;
  width:20%
}

.movie-table {
  color:#f2eadd;
  font-family: 'Roboto', sans-serif;
  border-color: #f2eadd;
  font-size: 20px;
  background-color: #230308;
}

.nominate-table {
  color:#f2eadd;
  font-family: 'Roboto', sans-serif;
  border-color: #f2eadd;
  font-size: 20px;
  background-color: #230308;
}

.table-titles {
  color:white;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:#480612;
  color:#f2eadd;
}

.nominates-button {
  border: transparent;
  background-color: #870a22;
  font-family: 'Oswald', sans-serif;
  color:#bdaa8c;
}


.poster-button {
  border: transparent;
  background-color: #bdaa8c;
  font-family: 'Oswald', sans-serif;
  color: #870a22;
}

.header{
 
  font-family: 'Oswald', sans-serif;
  color:#bdaa8c;
  border:#f2eadd;
  background-color: #f2eadd;
  font-size: 35px;
}


:disabled {
  background-color: #cccccc;
  color: #666666;
}

.searchbar {
  display:inline-block;
  width:300px
}

.clear-btn {
  margin-left: 1%;
  display:inline-block;
  border: transparent;
  background-color: #5f4938;
  font-family: 'Oswald', sans-serif;
  color: #f2eadd;
  width:60px;
  font-size: 18px;

}

.testbutton {
  font-size: xx-large;
  color:aliceblue;
  background-color: black;
}

.movie-details{
  max-width: 50%;
  margin-top: 1em;
  margin-left: 5em;
  border-color: white;
  color:white;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
}

.movie-primary-details{
  font-size: 20px;
  
  font-family: 'Roboto', sans-serif;
}

.movie-plot {
  margin-top: 2%;
  font-size: 30px;
  /* max-width: 50%; */
  font-family: 'Oswald', sans-serif;
 
}

.movie-secondary-details{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  
}

.additional-info{
  margin-top: 5%;
  font-size: 30px;
  
}

.plot-text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;

}

.back-btn{
  border: transparent;
  background-color: #870a22;
  font-family: 'Oswald', sans-serif;
  color: #f2eadd;
  font-size: 18px;
}

.back-btn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.movielinks:hover {
    color: #FFFEAD; 
}